body
{
	overflow: hidden;
}

label
{
    color: #00FF00;
}

#container
{
	height: 100%;
	position: relative;
}

.content
{
	padding: 0 !IMPORTANT;
}

.messages
{
	overflow: auto;
}

.line
{
	width: 100%;
}

.nicklist
{
	overflow: hidden;
	border: solid 1px rgba(0,255,0,0.3);
	padding: 5px;
}

.no-sides
{
	padding: 0 !IMPORTANT;
}

.help
{
	position: absolute;
	top: -500%;
	border: 2px solid rgba(0,255,0,0.3);
	background-color: rgba(0,0,0,0.8);
	z-index: 4;
}

.help > div > div > div > div > h2
{
	text-align: center;
}

.loka{
	cursor: pointer;
	font-size: 2.5em;
	margin-left: 0.7em;
	margin-top: -0.2em;
	padding: 0;
	text-shadow: 0 0 0.1em rgb(0, 204, 0), 0 0 0.1em rgb(0, 204, 0), 0 0 0.1em rgb(0, 204, 0), 0 0 0.1em rgb(0, 204, 0);
}
